@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="akcja2">Moja akcja 2</div>
akcja: @ViewContext.RouteData.Values["Action"].ToString() <br />
kontroler: @ViewContext.RouteData.Values["Controller"].ToString()
