@page
@model Web1.Pages.NWDPage
@{
}
<h2>Największy wspólny dzielnik</h2>
<form method="post">
	<div class="row m-2">
		<label for="firstname">Podaj imię</label>
		<input type="text" name="firstname" id="firstname" />
	</div>
	<div class="row m-2">
		<label for="lastname">Podaj nazwisko</label>
		<input type="text" name="lastname" id="lastname" />
	</div>

	<select name="wybor">
		<option value="rec">Rekurencyjnie</option>
		<option value="iter">Iteracyjnie</option>
	</select>

	<div class="row">
		<input type="submit" value="Oblicz" />
	</div>
</form>
