@page
@model Web1.Pages.NWDPage
@{
}
<h2>Największy wspólny dzielnik</h2>
<form method="post">


	<select name="wybor">
		<option value="rec">Rekurencyjnie</option>
		<option value="iter">Iteracyjnie</option>
	</select>

	<div class="row">
		<input type="submit" value="Oblicz" />
	</div>
</form>
