@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-stripped">
    <tr>
        <th>Lp</th>
        <th>Tytuł</th>
        <th>Czas</th>
        <th>Data wydania</th>
    </tr>
</table>
