@model MVC_cw2_v2.Models.Table;
@{
    
}

    <div class="container">
        <h1>Hello from Second Controller akcja GenerTab</h1>
         <div>
           @Html.Raw(Model.Html)
         </div>
    </div>


