@model MVC_cw2_v2.Models.PrimaryGenerator
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_cw2_v2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_cw2_v2.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h1>Hello from Second Controller</h1>
        <form method="post">
            <input asp-for="N" placeholder="Podaj górny zakres" />
            <input type="submit" value="Generuj"/>
        </form>
    
   @if(ViewBag.isPost){
       <div>Obliczamy .... </div>
       <div>Liczby pierwsze z przedziału 1..@Model.N</div>


            @foreach (var number in Model.GetPrimals(Model.N ?? 0)) { 
                <span>@number </span>
            }
            <div class="w-75">@Html.Raw(ViewBag.HtmlTable)</div>
        }
   
    </div>
</body>
</html>

