@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/css/main.css" rel="stylesheet">
    </head>
    <body>
      
      <h1>Strona główna</h1>
      <div>
        <a asp-action="MyAction" asp-controller="First">Do MyAction</a>
      </div>
    </body>
</html>