body{
    /* border: solid 1px black; */
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
}
.container{
   margin: 0 20px;
}
.line{
    margin: 20px;
}
label{
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 5px;
}
input[type=button], button{
    width: 180px;
    padding: 10px;
}
input[type=text]{
    border: none;
    border-bottom: 1px solid grey;
}

/* input[type=text]:hover {
    outline: none !important;
    border-width: 0px !important;
    border: none !important;
  } */
  input[type=text]:focus {
    outline: none !important;
    /* border-width: 0px !important;
    border: none !important; */
    border-bottom: 1px solid grey;
  }
  .icon{
    width: 18px;
    height: 18px;
    float: right;
  }