body{
    /* border: solid 1px black; */
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
}
.container{
   margin: 0 20px;
}
.line{
    margin: 20px;
}
label{
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 5px;
}