* {
    border: solid 1px black;
}
header{
    background-color: lightcyan;
}
.container{
    display: flex;
}
section{  
   width: 49%;
}
ol{
    list-style: none;
    display: flex;  
    padding: 0;  
}
li{   
   flex-grow: 4;
    padding: 8px;
    text-align: center; 
}
li:hover{
    background-color: lightgray;
    cursor: pointer;
}
footer{
    text-align: center;
    padding-top: 10px;
    
}
article{
   
    background-color: lightslategray;
}