* {
    border: solid 1px black;
}
header{
    background-color: lightcyan;
}
.container{
    display: flex;
}
section{
  
   width: 49%;
}
ol{
    list-style: none;
    display: flex;
    
}
li{
   
    width: 200px;  
    padding: 8px; 
}
li:hover{
    background-color: lightgray;
    cursor: pointer;
}
footer{
    text-align: center;
    padding-top: 10px;
    
}
article{
   
    background-color: lightslategray;
}