* {
    border: dotted 1px grey;
    padding: 8px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    
    width: 150px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
li:hover{
    background-color: rgb(236, 179, 110);
}
section{
    background-color: lightpink;
   
    width: 50%;
}
header{
    background-color: rgb(232, 219, 201);
}
article{
    background-color: lightgrey;
   
}
footer{
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 10px;
   
}
.container{
    display: flex;
}
div, section,main,header{
    padding: 0;
}
