@model List<Trip>
@{
    ViewData["Title"] = "Home Page";
}
<h3>Dostępne wycieczki</h3>
<table class="table table-stripped">
    <tr>
        <th>Lp</th>
        <th>Miejsce</th>
        <th>Cena</th>
        <th>Data</th>
    </tr>
    @{
        int lp = 0;
    }
    @foreach(var elem in Model)
    {
        lp++;
        <tr>
            <td>@lp</td>
            <td>@elem.Place</td>
            <td>@elem.Price</td>
            <td>@elem.Date?.ToShortDateString()</td>
        </tr>
    }
</table>
