*{
    box-sizing: border-box;
}
main{
    /* position: relative; */
    border: solid 1px blue;
    width: 500px;
    height: 500px;
}
section{
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    height: 100px;
}
.s1{
    position: absolute;
    left: 0;
    top: 0;
    background-color: lightcoral;
}
.s2{
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
}
.s3{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(229, 227, 114);
}
.s4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(92, 176, 224);
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
}