*{
    box-sizing: border-box;
}
main{
    border: solid 1px blue;
    width: 500px;
    height: 500px;
}
section{
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    height: 100px;
}
.s1{
    position: relative;
    left: 150px;
    top: 200px;
    background-color: lightcoral;
}
.s2{
    position: relative;
    top: 50px;
}