@page
@model MyApp.Namespace.IndexModel
@{
    int s = 23;
    string text = "sfsdfsfs";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Strona Index</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem qui nesciunt iusto, deserunt quos et modi commodi? Eius sapiente, deleniti ullam saepe adipisci debitis. Sint nihil nam amet! Enim, eum!</p>
    <div>Aktualna data: @DateTime.Now</div>
    <div>
        <ol>
            @foreach (var name in Model.Names){
                <li>@name</li>
            }
            
        </ol>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe minima asperiores natus suscipit cupiditate quam earum dolorum mollitia veritatis impedit consequuntur ratione recusandae, quisquam molestias eos nisi quidem doloremque repudiandae.</p>
            text = @text
        </div>
        <div><a href="/Home">Do strony home</a></div>
        <div>Inny spsób <a asp-page="Home">Do strony</a></div>
    </div>
    </body>
</html>