.container{
    margin: 0 30px;
}
.timer{
    position: absolute;
    border: solid 1px black;
    background-color: lightgreen;
    animation-fill-mode: forwards;
    animation: timerAnim 2s;
    top: 40px;
    right: 50px;
    height: 30px;
    padding: 10px;
}
@keyframes timerAnim {
    0%{
        opacity: 0;
        transform: translateY(0);
        height: 10px;
    }
    50%{
        opacity: 0.3;
        transform: translateY(100px);
        height: 20px;        
    }
    100%{
        opacity: 1;
        height: 30px;       
    }
}
.card{
    width: 300px;
    height: 400px;
    border: solid 2px black;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.year{
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}
.month{
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: bold;
}
.date{
    margin-top: 20px;
    font-size: 9em;
    font-weight: bold;
    color: blueviolet;
}
.day{
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}